:root {
  --purple: #8a2be2;
  --purple-hover: #7a1bd2;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-500: #6b7280;
  --gray-900: #111827;
}

.modal {
  display: none;
  position: fixed; /* Posicionamiento fijo */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro */
  justify-content: center; /* Centrado horizontal */
  align-items: center; /* Centrado vertical */
  z-index: 999; /* Asegura que esté por encima de otros elementos */
}

.modal-content {
  background-color: #3b3b3b;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 2px solid #3b3b3b;
  text-align: center;
  width: 500px;
  min-height: 200px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 20px;
}
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3px;
  width: 100%;
  border-bottom: 3px solid rgba(80, 80, 80, 0.8);
}
.modal-body {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  padding-top: 20px;
}
.modal-body span {
  width: 100%;
  gap: 5px;
  display: flex;
  align-items: start;
  flex-direction: column;
}
.close {
  cursor: pointer;
  background-color: transparent;
  border-style: none;
  font-size: 20px;
  color: white;
  transition: 0.1s;
}

.modal-title {
  width: 100%;
  height: 25px;
  display: flex;
  justify-content: start;
  cursor: text;
  overflow-wrap: break-word;
}

.edit-title {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.edit-title input {
  border-style: none;
  border-radius: 5px;
  background-color: #2b2b2b;
  color: white;
  padding: 10px;
  width: 100%;
  height: 25px;
}

#descripcion-task {
  min-height: 160px;
  display: flex;
  height: auto;
  border-radius: 10px;
  justify-content: start;
  background-color: #2b2b2b;
  color: white;
  padding: 10px;
  width: 100%;
  height: 100%;
  outline: none;
  resize: none;
}

#descripcion-task:focus {
  outline: none;
}

.select-priority {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 10px;
  border-radius: 5px;
  background-color: #2b2b2b;
  color: white;
  padding: 5px;
}

.select-priority option:nth-child(3) {
  background-color: #2b2b2b;
  color: red;
}

.select-priority option:nth-child(2) {
  background-color: #2b2b2b;
  color: orange;
}

.select-priority option:nth-child(1) {
  background-color: #2b2b2b;
  color: green;
}

.-show {
  display: flex !important;
}

.-hidden {
  display: none;
}
