* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --purple: #892be2;
  --purple-hover: #7a1bd2;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-500: #6b7280;
  --gray-900: #111827;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #ffffff;
  font-family: "Kanit", sans-serif;
  background-color: var(--gray-100);
}

#drag-and-drop {
  width: 60%;
  align-self: center;
  border-radius: 10px;
  margin-bottom: 40px;
}

.principal {
  display: flex;
  width: 100%;
  height: 100%;
  align-self: center;
  flex-direction: column;
}

.principal-head {
  display: flex;
  flex-direction: column;
  background-image: url("../imagenes/wave5.svg");
  background-repeat: no-repeat;
  background-clip: content-box;
  background-size: cover;
}

.principal-content {
  display: flex;
  align-items: center;
  background-color: transparent;
  width: 90%;
  align-self: center;
  color: var(--gray-900);
  overflow: hidden;
  border-radius: 10px;
  margin: 100px;
}

.principal-content img {
  width: 100%;
}

.principal-content h2 {
  font-size: 40px;
  color: white;
  font-weight: 600;
}

.principal-text {
  display: flex;
  flex-direction: column;
  padding: 25px;
  height: 100%;
  text-align: start;
  font-size: 20px;
  width: 100%;
}

.principal-text h2 {
  padding-left: 20px;
}

.principal-text p {
  padding-left: 20px;
}

.principal-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.principal-img img {
  width: 100%;
  height: 100%;
}

.features {
  display: flex;
  flex-direction: row;
  text-align: start;
  gap: 50px;
  margin-top: 10px;
  justify-content: space-around;
  width: 100%;
  padding: 50px;
}

.feature {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: start;
  height: 350px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  width: 30%;
  border-radius: 8px;
  color: var(--gray-900);
  background-color: var(--gray-100);
}

.feature h3 {
  font-size: 25px;
  font-weight: 600;
}

.feature p {
  font-size: 20px;
}

.feature svg {
  color: var(--purple);
  opacity: 0.8;
  height: 70px !important;
  width: 70px !important;
}
