* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  background-color: lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  padding: 20px;
  margin-top: auto;
}
