:root {
  --purple: #8a2be2;
  --purple-hover: #7a1bd2;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-500: #6b7280;
  --gray-900: #111827;
}

.article-form-login {
  font-family: "Kanit", sans-serif;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
}

.div-form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.article-form-signup {
  margin-top: 20px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
}

.title-form {
  display: flex;
  flex-direction: column;
}

.form-login {
  margin-top: 20px;
  background-color: var(--gray-200);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: 2px solid #a355bf;
  justify-content: center;
  width: 30%;
  height: fit-content;
  padding: 20px;
  color: var(--gray-900);
}

.form-login h4 {
  color: var(--gray-500);
  font-weight: 400;
}

.form-login label {
  font-weight: 700;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 100%;
  gap: 5px;
}

.error {
  color: red;
  display: flex;
  font-weight: 400;
  font-size: 12px;
  transition: all 0.2s ease;
  display: none;
  @starting-style {
    transform: scale(0);
  }
}

.-show {
  display: flex !important;
}

.form-login input {
  width: 100%;
  height: 40px;
  color: var(--gray-900);
  background-color: var(--gray-200);
  border: 1px solid rgba(128, 128, 128, 0.466);
  margin-bottom: 20px;
  cursor: pointer;
  padding: 15px;
  font-weight: 500;
  border-radius: 5px;
}

.form-login input:focus {
  border: 2px solid #a355bf;
}

.form-login a {
  text-decoration: none;
  font-weight: 700;
  transition: 0.2s;
  color: #a355bf;
}
.form-login a:hover {
  color: var(--purple-hover);
}

.form-login input:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-login div {
  display: flex;
  width: 100%;
  justify-content: start;
}

#btn-login {
  background-color: #803e98;
  color: whitesmoke;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.3s ease;
}

#btn-login:hover {
  color: #ffffff;
  background-color: #a355bf;
  transition: 0.2s ease;
}

#btn-signup {
  background-color: #803e98;
  color: whitesmoke;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.3s ease;
}

#btn-signup:hover {
  color: #ffffff;
  background-color: #a355bf;
  transition: 0.2s ease;
}

.register {
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.wave {
  display: flex;
  width: 100%;
}
