.header {
  display: flex;
  justify-content: space-between;
  background-color: #1b1b1b;
  color: #ffffff;
  justify-content: space-between;
  height: 75px;
  padding: 20px;
  border-bottom: solid 2px #a355df;
}

.nav-bar {
  align-items: center;
  display: flex;
  list-style-type: none;
  gap: 25px;
  height: 100%;
}

.nav-bar ul {
  display: flex;
  list-style-type: none;
  gap: 25px;
}

.nav-bar a {
  text-decoration: none;
  color: #ffffff;
}

.login {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25;
}

.login a {
  text-decoration: none;
  color: #ffffff;
}

.login i {
  padding-left: 8px;
}
