.columnas {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 25px;
  gap: 25px;
  justify-content: start;
  overflow: auto;
  padding-bottom: 35px;
}
.columna {
  width: fit-content;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 15px;
  min-width: 250px;
  min-height: 350px;
  align-items: center;
  border: 2px solid #a355df;
}
.columnas-container {
  display: flex;
  outline: solid black;
  width: fit-content;
  flex-direction: column;
}

.tareas-container {
  display: flex;
  padding: 10px;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
.tarea {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #1b1b1b;
  padding: 15px;
  gap: 10px;
  width: 200px;
}
