.columnas {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
  padding: 25px;
  gap: 25px;
  justify-content: start;
  overflow: auto;
  padding-bottom: 35px;
}
.columna {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between  ;
  border-radius: 10px;
  padding: 10px;
  gap: 15px;
  min-width: 250px;
  min-height: 350px;
  align-items: center;
  border: 3px solid #a355df;
  background-color: #1b1b1b;
}

.columna span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.columnas-container {
  display: flex;
  outline: solid black;
  width: fit-content;
  flex-direction: column;
}

.tareas{
  width: 100%;
}
.tareas-container {
  display: flex;
  padding: 10px;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 200px;
  gap: 10px;
  justify-content: start;
}
.tarea {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #2b2b2b;
  padding: 15px;
  gap: 10px;
  width: 100%;
  border-radius: 5px;
  transition: 0.15s;
  border: solid 1px lightgray;
}

.tarea:hover{
  border: solid 1px #a355df;
}

.tarea form {
  align-items: center;
  display: flex;
}
.tarea span{
  display: flex;
  flex-direction: column;
}

.btn-remove-task{
  border-style: none;
  font-weight: bolder;
  background-color: transparent;
  color: white;
  font-size: 20px;
  transition: 0.1s;
  cursor: pointer;
  border-radius: 5px;
}

.btn-remove-task:hover{
  color:rgb(230, 0, 0);
}

.btn-remove-col{
  background-color: transparent;
  border-style: none;
  color: white;
  transition: 0.1s;
}

.btn-remove-col:hover{color:rgb(167, 0, 0);}


.add-column{
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-column form{
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
}
#name-new-column{
  background-color: #1b1b1b;
  border-radius: 4px;
  border-style: none;
  color: lightgrey;
  padding: 7px;
  width: fit-content;
  height: fit-content;
}

#btn-new-column{
  display: flex;
  width: 20px;
  height: 30px;
  justify-content: center;
  align-items: center;
  background-color: #6a0dad;
  color: white; 
  border: none; 
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease; 
}

.add-task{
  margin-bottom: 5px;
}

#no-tasks{
  color: rgba(136, 136, 136, 0.5);
  text-align: center;
}

.add-task form{
  display: flex;
  gap: 10px;
  width: 100%;
}

#name-new-task{
  background-color: #2b2b2b;
  border-radius: 4px;
  border-style: none;
  color: lightgrey;
  padding: 7px;
  width: fit-content;
  height: fit-content;
}

#btn-new-task{
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  background-color: #6a0dad;
  color: white; 
  padding: 5px;  
  font-size: 16px;
  border: none; 
  height: fit-content;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease; 

}