:root {
  --purple: #8a2be2;
  --purple-hover: #7a1bd2;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-500: #6b7280;
  --gray-900: #111827;
}

.mensaje {
  display: flex;
  align-items: center;
  background-color: #803e98;
  justify-content: center;
  width: fit-content;
  padding: 25px;
  align-self: center;
  height: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  color: var(--gray-900);
}

.opiniones {
  display: flex;
  width: 100%;
  margin-top: 50px;
  height: 100%;
  align-self: center;
  justify-content: center;
  margin-bottom: 50px;
  gap: 50px;
}

.texto-opinion {
  padding: 30px;
  width: 25%;
}

.texto-opinion i {
  color: #a355df;
  font-size: 22px;
}

.form-opinion {
  color: var(--gray-900);
  display: flex;
  background-color: transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 100%;
  height: 100%;
  padding: 25px;
}

.form-opinion h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.form-opinion form {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 100%;
  height: 100%;
}

.form-opinion input {
  width: 100%;
  font-size: 18px;
  height: 70px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.form-opinion textarea {
  width: 100%;
  font-size: 18px;
  height: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  resize: none;
}

#btn-enviar {
  background-color: #a355df;
  color: white;
  width: 100%;
  padding: 10px;
  height: 40px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}

#btn-enviar:hover {
  background-color: #803e98;
  transition: 0.2s ease;
  transform: scale(0.98);
}

.wave {
  display: flex;
}
