:root {
  --purple: #8a2be2;
  --purple-hover: #7a1bd2;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-500: #6b7280;
  --gray-900: #111827;
}

.quienes-somos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 150px;
  height: 100%;
}

.quienes-somos {
  display: flex;
  color: var(--gray-900);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  align-self: center;
  min-height: 400px;
  margin-top: 20px;
}

.texto {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 100%;
  justify-content: start;
  width: 70%;
}

.quienes-somos h1 {
  padding-left: 10px;
  font-size: 40px;
}

.logo {
  display: flex;
  align-self: start;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-bottom: 30px;
  height: auto;
}

.parrafo {
  font-size: 30px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  margin-top: 10px;
  width: 90%;
  height: fit-content;
  margin-bottom: 10px;
}

.developers {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(138, 43, 226, 0.6);
  color: var(--gray-900);
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding-bottom: 250px;
}

.developers h2 {
  font-size: 40px;
}

.developers-container {
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: space-around;
  align-items: start;
  color: var(--gray-900);
  height: 100%;
  gap: 10px;
}

.developer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  width: 100%;
}

.developer p {
  color: var(--gray-200);
  width: 40%;
}

.developer svg {
  color: var(--gray-200);
  transition: all 0.15s ease-in-out;
}
.github svg:hover {
  color: var(--purple-hover) !important;
}

.linkedin svg:hover {
  color: rgb(65, 109, 255) !important;
}

.developer img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: solid 5px var(--purple-hover);
  margin-bottom: 10px;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
