* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #2a2a2a;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}

textarea {
  resize: none;
}
.principal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 60px;
  gap: 120px;
}

.principal article {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 520px;
}

.principal article h1 {
  font-size: 4.6rem;
  margin-bottom: 5px;
}

.principal article p {
  text-wrap: break-word;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.principal div img {
  width: 600px;
}

.principal__buttons {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.principal__buttons button {
  width: 160px;
  height: 40px;
  outline: none;
  border-radius: 4px;
  background: #a355fd;
  border: none;
  color: #ffffff;
  padding: 5px;
  font-size: 1.1rem;
}

.principal__buttons button:hover {
  cursor: pointer;
  outline: 3px solid #ffffff;
}

.principal__buttons a {
  width: 40%;
}
